body
{
	text-align:center;
	font-family: "Arial", sans-serif;
}

label
{
	font-size:2em;
}

.center
{
	display:flex;
	justify-content:center;
}

#scoreboard
{
	display:none;
}



#game 
{
	display:none;
}

table
{
	border-style:solid;
	border-color:#555555;
	border-width:20px;
}

input
{
	margin:2%;
	font-size:1em;
}

h1
{
	font-size:2em;
}

h2
{
	font-size:1.5em;
}

p
{
	font-size:1.5em;
}

nav a:link, nav a:visited, button
{
	background-color: #000000;
	color: #FFFFFF;
	text-decoration:none;
	font-weight:bold;
	padding:5px;
	border-radius:10px;
	font-size:2em;
	margin:5px;
}

